#nprogress {
    pointer-events: none
}

#nprogress .bar {
    background: #606887;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 0 4px 4px 0
}

body.dark #nprogress .bar {
    background: #f3f2f9
}

/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.has-scroll-smooth body {
    overflow: hidden
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh
}

[data-scroll-direction=horizontal] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap
}

[data-scroll-direction=horizontal] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%
}

.c-scrollbar {
    z-index: 500;
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform .3s,opacity .3s;
    opacity: 0
}

.c-scrollbar:hover {
    transform: scaleX(2)
}

.c-scrollbar:hover,.has-scroll-dragging .c-scrollbar,.has-scroll-scrolling .c-scrollbar {
    opacity: 1
}

[data-scroll-direction=horizontal] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1)
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
    transform: scaleY(1.3)
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #606887;
    opacity: 1;
    width: 4px;
    border-radius: 4px;
    margin: 0 2px
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
    right: auto;
    bottom: 0
}

.menu {
    z-index: 2;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    pointer-events: auto
}

.menu .menu-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 var(--left-right-margin) 0 25%
}

@media(max-width: 61.99em) {
    .menu .menu-content {
        margin:0 var(--left-right-margin) 0 33%
    }
}

@media(max-width: 47.99em) {
    .menu .menu-content {
        margin:0 var(--left-right-margin)
    }
}

.menu .menu-items {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    margin: calc(var(--top-internal-margin)*2) 0 0 1.5rem;
    white-space: nowrap
}

.menu .menu-items ol {
    counter-reset: counter
}

.menu .menu-items ol li {
    counter-increment: counter;
    list-style: none;
    margin-left: -1.5rem;
    position: relative;
    overflow: hidden
}

@media(max-width: 61.99em) {
    .menu .menu-items ol li {
        font-size:3rem
    }
}

@media(max-width: 47.99em) {
    .menu .menu-items ol li {
        font-size:1rem
    }
}

.menu .menu-items ol li .item-inner {
    position: relative;
    transform: translateY(100px)
}

.menu .menu-items ol li a h1 {
    transition: .4s
}

.menu .menu-items ol li a h1:hover {
    font-variation-settings: "wght" 800,"wdth" 100
}

.menu .menu-items ol li a :before {
    content: "0" counter(counter);
    font-size: 1rem;
    font-variation-settings: "wght" 500,"wdth" 100;
    margin-right: .5rem
}

.menu-opened {
    display: block
}

.menu-socials {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: var(--top-internal-margin) 0 0 1.5rem
}

.menu-socials ul li {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    margin-right: 1.5rem
}

@media(max-width: 61.99em) {
    .menu-socials ul li {
        font-size:1rem;
        margin-right: 1rem
    }
}

.menu-socials ul li .item-inner {
    position: relative
}

:-webkit-full-screen {
    background-color: #2b2b33
}

footer {
    padding: 0 var(--left-right-margin) 0;
    width: 100%
}

footer hr {
    margin-top: var(--top-margin)
}

footer .footer-wrapper {
    padding: var(--top-internal-margin) 0 var(--top-internal-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

footer .footer-wrapper .footer-right {
    text-align: right
}

::-moz-selection {
    background-color: #78ffd1;
    color: #606887;
    -webkit-text-stroke: 0
}

::selection {
    background-color: #78ffd1;
    color: #606887;
    -webkit-text-stroke: 0
}

:root {
    --left-right-margin: 240px;
    --left-right-internal-margin: 24px;
    --top-margin: 240px;
    --top-margin-mobile: 40vh;
    --top-internal-margin: 24px;
    --border-radius: 48px;
    --border: 2px;
    --border-radius-content: 0
}

@media(min-width: 62em)and (max-width:74.99em) {
    :root {
        --left-right-margin:96px
    }
}

@media(min-width: 36em)and (max-width:61.99em) {
    :root {
        --left-right-margin:48px;
        --top-margin: 132px;
        --border: 1.5px;
        --border-radius: 24px
    }
}

@media(max-width: 35.99em) {
    :root {
        --left-right-margin:24px;
        --top-margin: 84px;
        --border: 1.5px;
        --border-radius: 24px
    }
}

html[data-theme=light] {
    --background-color: #f3f2f9;
    --color: #606887
}

html[data-theme=dark] {
    --background-color: #2b2b33;
    --color: #f3f2f9
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,html {
    background-color: #f3f2f9;
    background-color: var(--background-color);
    color: var(--color);
    width: 100%;
    height: auto;
    font-family: studiofeixen-variable,studiofeixen,Arial,Helvetica,sans-serif;
    letter-spacing: -.015em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variation-settings: "wght" 500,"wdth" 100;
    font-weight: unset;
    font-size: 1em;
    transition: .25s
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: unset
}

h1 {
    text-transform: uppercase;
    font-variation-settings: "wght" 800,"wdth" 125;
    font-size: 4.5rem
}

@media(max-width: 61.99em) {
    h1 {
        font-size:3rem
    }
}

@media(max-width: 35.99em) {
    h1 {
        font-size:2.5rem
    }
}

h2 {
    text-transform: uppercase;
    font-variation-settings: "wght" 800,"wdth" 125;
    font-size: 3rem
}

@media(max-width: 35.99em) {
    h2 {
        font-size:2.5rem
    }
}

h3 {
    text-transform: uppercase;
    font-variation-settings: "wght" 800,"wdth" 125;
    font-size: 2.5rem
}

@media(max-width: 61.99em) {
    h3 {
        font-size:1.5rem
    }
}

h4 {
    text-transform: lowercase;
    font-size: 1.5rem;
    font-variation-settings: "wght" 800,"wdth" 125
}

@media(max-width: 35.99em) {
    h4 {
        font-size:1rem
    }
}

h5 {
    text-transform: lowercase;
    font-variation-settings: "wght" 500,"wdth" 125;
    font-size: 1.5rem
}

@media(max-width: 35.99em) {
    h5 {
        font-size:1rem
    }
}

h6 {
    text-transform: uppercase;
    font-variation-settings: "wght" 800,"wdth" 125;
    font-size: 1.25rem
}

@media(max-width: 61.99em) {
    h6 {
        font-size:1rem
    }
}

p {
    font-size: 1.25rem;
    margin: 0;
    font-variation-settings: "wght" 500,"wdth" 100;
    text-transform: none
}

@media(max-width: 61.99em) {
    p {
        font-size:1rem
    }
}

a {
    font-size: 1.25rem;
    font-variation-settings: "wght" 500,"wdth" 125;
    color: var(--color);
    text-transform: lowercase;
    text-decoration: none
}

@media(max-width: 61.99em) {
    a {
        font-size:1rem
    }
}

.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    white-space: nowrap
}

img {
    font-size: .75rem;
    font-variation-settings: "wght" 500,"wdth" 100;
    color: #f3f2f9
}

.icons-style {
    opacity: 1;
    fill: none;
    stroke: #606887;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    display: block
}

@media(max-width: 61.99em) {
    .mini-icons {
        stroke-width:1.5px
    }
}

hr {
    border-style: none;
    border-bottom: 0;
    border-top: var(--border) solid #606887
}

ol,ul {
    margin: 0;
    padding: 0;
    list-style: none
}

li {
    font-size: 1.25rem
}

@media(max-width: 61.99em) {
    li {
        font-size:1rem
    }

    table {
        width: 100%;
        table-layout: fixed;
        margin-bottom: var(--top-internal-margin)
    }
}

table td {
    vertical-align: top;
    padding: 0 var(--left-right-internal-margin) var(--top-internal-margin) 0
}

@media(max-width: 61.99em) {
    table td {
        padding:0 0 var(--top-internal-margin) 0
    }
}

table td h6 {
    padding-right: var(--left-right-internal-margin);
    text-overflow: ellipsis;
    overflow-x: clip
}

table tr:last-child td {
    vertical-align: top;
    padding: 0 var(--left-right-internal-margin) 0 0
}

@media(max-width: 61.99em) {
    table tr:last-child td {
        padding:0
    }
}

.canvas {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh
}

.container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%
}

.container .page-content {
    height: 100%;
    width: 100%
}

@media(max-width: 47.99em) {
    .container .page-content {
        height:auto
    }
}

#scroll-container {
    transform: translateZ(0)
}

.profile-pic-wrapper {
    background-color: #606887;
    border-radius: var(--border-radius)
}

.profile-pic-wrapper .profile-pic {
    mix-blend-mode: lighten;
    border-radius: var(--border-radius)
}

.link-wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow-x: hidden
}

.link-wrapper .link {
    width: auto;
    margin-bottom: 3px;
    white-space: nowrap
}

.link-wrapper .link-underline {
    position: relative;
    width: 100%;
    height: var(--border);
    margin-bottom: 6px;
    bottom: 0;
    left: 0;
    background-color: #606887;
    transform-origin: bottom right;
    transition: transform .25s ease-out
}

body.dark ::-moz-selection {
    background-color: #606887;
    color: #f3f2f9
}

body.dark ::selection {
    background-color: #606887;
    color: #f3f2f9
}

body.dark .icons-style {
    stroke: #f3f2f9
}

body.dark hr {
    border-top: var(--border) solid #f3f2f9
}

body.dark .profile-pic-wrapper {
    background-color: #2b2b33
}

body.dark .profile-pic-wrapper .profile-pic {
    mix-blend-mode: lighten
}

body.dark .link-underline {
    background-color: #f3f2f9
}
